<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="notiList" th:unless="${#lists.isEmpty(notiListData)}" id="results-block">
	<div id="content">

		<table id="notification" class="display" style="width: 100%">
			<thead>
				<tr style="background-color: #435334; color: white">

					<th>時間</th>
					<th>內容</th>
				</tr>
			</thead>

			<tbody id="tdArea">

				<th:block th:each="notificationVO : ${notiListData}">
					<tr th:class="${notificationVO.notiStatus == 1 ? 'read' : 'unread'}">
						<td	th:text="${#dates.format(notificationVO.notiTime, 'yyyy-MM-dd HH:mm')}"></td>
						<td th:text="${notificationVO.notiContent}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<div id="moreNoti">
		<a href="/notification/allNoti" id="moreNotia">顯示更多</a>
		</div>
	</div>
	</div>


</body>
</html>