<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>


<div th:fragment="resultList" th:unless="${#lists.isEmpty(memListData)}" id="results-block">

<table id="example" class="display">
    <thead>
        <tr style="background-color:#CCCCFF" id="list_table">
<!--             <th>編號</th> -->
            <th>編號</th>
            <th>姓名</th>
            <th>性別</th>
            <th>手機</th>
            <th>信箱</th>
            <th>身分證</th>
            <th>生日</th>
            <th>帳號</th>
            <th>密碼</th>
            <th>照片</th>
            <th>狀態</th>
            <th>修改</th>
            <th>檢視</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="memberVO : ${memListData}">
            <tr>
<!--                  <td th:text="${memberVOStat.count}"></td>  -->
                <td th:text="${memberVO.memNo}"></td>
                <td th:text="${memberVO.memName}"></td>
                <td>
                    <span th:switch="${memberVO.memSex}">
                        <span th:case="'m'">男</span>
                        <span th:case="'f'">女</span>
                    </span>
                </td>
                <td th:text="${memberVO.memPhone}"></td>
                <td th:text="${memberVO.memEmail}"></td>
                <td th:text="${memberVO.memUid}"></td> 
                <td th:text="${memberVO.memBirthday}"></td>
                <td th:text="${memberVO.memAccount}"></td>
                 <td th:text="${memberVO.memPassword}"></td> 
                <td><img th:src="@{/member/DBGifReader} + '?memNo=' + ${memberVO.memNo}" width="50px"></td>
                <td>
                    <span th:switch="${memberVO.memStatus}">
                        <span th:case="0">停權</span>
                        <span th:case="1">未驗證</span>
                        <span th:case="2">已驗證</span>
                    </span>
                </td>
                <td>
                    <form method="post" th:action="@{/member/backend_protected/update}" style="margin-bottom: 0px;">
                        <input type="submit" value="修改">
                        <input type="hidden" name="memNo" th:value="${memberVO.memNo}">
                    </form>
                  </td>
                  <td>
                    <button class="detailsButton btn btn-primary" id="memNoInput" th:data-memno="${memberVO.memNo}"
                    >详情</button>
                 </td>
            </tr>
        </th:block>
    </tbody>
</table>
</div>


</body>
</html>