<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>會員資料修改</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/back_end.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <style>
        /* Optional: Add custom styling for the form */
        .center-form {
            display: flex;
            justify-content: center;
        }
        .form-table {
            width: 80%;
        }
        .form-table th, .form-table td {
            padding: 5px;
            text-align: left;
            white-space: nowrap; /* Prevent text wrapping */
        }
        .form-table th {
            width: 30%; /* Adjust width of first column */
        }
        .form-table label {
            font-weight: bold;
        }
        
        #memName\.errors, #memSex\.errors, #memPhone\.errors, #memEmail\.errors
		,#memUid\.errors, #memBirthday\.errors, 
		#memAccount\.errors, #memPassword\.errors{
		font-weight: bold;
		color: red;

		}
     
    </style>
</head>
<body>

<nav th:insert="~{/back-end/back_end_navbar.html}"></nav>

<div class="center-form">
    <div>
        <h3><b>所有欄位皆為必填欄位</b></h3>
        <form id="updateForm" th:action="@{/backend_protected/member/update}" method="post" th:object="${memberVO}" enctype="multipart/form-data">
            <table class="form-table">
                <tbody>
                <tr>
                    <th><label for="memNo">會員編號:</label></th>
                    <td><input type="text" id="memNo" th:field="*{memNo}" readonly></td>
                </tr>
                <tr>
                    <th><label for="memName">會員姓名:</label></th>
                    <td><input type="text" id="memName" th:field="*{memName}" onclick="hideContent('memName.errors');">
                        <span th:if="${#fields.hasErrors('memName')}" th:errors="*{memName}" class="error"
                              id="memName.errors"></span></td>
                </tr>
                <tr>
                    <th><label for="memSex">性別:</label></th>
                    <td><input type="radio" id="memSexM" th:field="*{memSex}" value="m"
                               onclick="hideContent('memSex.errors');">男
                        <input type="radio" id="memSexF" th:field="*{memSex}" value="f"
                               onclick="hideContent('memSex.errors');">女
                        <span th:if="${#fields.hasErrors('memSex')}" th:errors="*{memSex}" class="error"
                              id="memSex.errors"></span></td>
                </tr>
                <tr>
                    <th><label for="memPhone">電話:</label></th>
                    <td><input type="text" id="memPhone" th:field="*{memPhone}" onclick="hideContent('memPhone.errors');">
                        <span th:if="${#fields.hasErrors('memPhone')}" th:errors="*{memPhone}" class="error"
                              id="memPhone.errors"></span></td>
                </tr>
                <tr>
                    <th><label for="memEmail">電子信箱:</label></th>
                    <td><input type="text" id="memEmail" th:field="*{memEmail}" onclick="hideContent('memEmail.errors');">
                        <span th:if="${#fields.hasErrors('memEmail')}" th:errors="*{memEmail}" class="error"
                              id="memEmail.errors"></span></td>
                </tr>
                <tr>
                    <th><label for="memUid">身分證字號:</label></th>
                    <td><input type="text" id="memUid" th:field="*{memUid}" onclick="hideContent('memUid.errors');">
                        <span th:if="${#fields.hasErrors('memUid')}" th:errors="*{memUid}" class="error"
                              id="memUid.errors"></span></td>
                </tr>
                <tr>
                    <th><label for="memBirthday">生日:</label></th>
                    <td><input type="date" id="memBirthday" th:field="*{memBirthday}"
                               onclick="hideContent('memBirthday.errors');">
                        <span th:if="${#fields.hasErrors('memBirthday')}" th:errors="*{memBirthday}" class="error"
                              id="memBirthday.errors"></span></td>
                </tr>
                <tr>
                    <th><label for="memAccount">帳號:</label></th>
                    <td><input type="text" id="memAccount" th:field="*{memAccount}"
                               onclick="hideContent('memAccount.errors');">
                        <span th:if="${#fields.hasErrors('memAccount')}" th:errors="*{memAccount}" class="error"
                              id="memAccount.errors"></span></td>
                </tr>
                <tr>
                    <th><label for="memPassword">密碼:</label></th>
                    <td><input id="memPassword" type="password" name="memPassword" th:value="*{memPassword}"
                               onclick="hideContent('memPassword.errors');">
                        <span th:if="${#fields.hasErrors('memPassword')}" th:errors="*{memPassword}" class="error"
                              id="memPassword.errors"></span></td>
                </tr>
                <tr>
                    <th><label for="memImg">照片:</label></th>
                    <td><input type="file" id="memImg" th:field="*{memImg}" onclick="previewImage()" multiple="multiple">
                        <div id="blob_holder"><img th:src="@{/member/DBGifReader} + '?memNo=' + ${memberVO.memNo}"
                                                   width="100px"></div>
                        <!-- <span th:if="${#fields.hasErrors('upFiles')}" th:errors="*{upFiles}" class="error" id="upFiles.errors"></span> -->
                    </td>
                </tr>
                <tr>
                    <th><label for="memStatus">狀態:</label></th>
                    <td><input type="radio" id="memStatus1" th:field="*{memStatus}" value="1"
                               onclick="hideContent('memStatus.errors');">已驗證
                        <input type="radio" id="memStatus0" th:field="*{memStatus}" value="0"
                               onclick="hideContent('memStatus.errors');">停權
                        <span th:if="${#fields.hasErrors('memStatus')}" th:errors="*{memStatus}" class="error"
                              id="memStatus.errors"></span></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="submit" id="submit" class="btn btn-success"> 送出修改 </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<!-- JavaScript part -->
<script type="text/javascript">
    //清除提示信息
    function hideContent(d) {
        document.getElementById(d).style.display = "none";
    }

    //照片上傳-預覽用
    var filereader_support = typeof FileReader != 'undefined';
    if (!filereader_support) {
        alert("No FileReader support");
    }
    acceptedTypes = {
        'image/png': true,
        'image/jpeg': true,
        'image/gif': true
    };

    function previewImage() {
        var memImg = document.getElementById("memImg");
        memImg.addEventListener("change", function (event) {
            var files = event.target.files || event.dataTransfer.files;
            for (var i = 0; i < files.length; i++) {
                previewfile(files[i])
            }
        }, false);
    }

    function previewfile(file) {
        if (filereader_support === true && acceptedTypes[file.type] === true) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var image = new Image();
                image.src = event.target.result;
                image.width = 100;
                image.height = 75;
                image.border = 2;
                if (blob_holder.hasChildNodes()) {
                    blob_holder.removeChild(blob_holder.childNodes[0]);
                }
                blob_holder.appendChild(image);
            };
            reader.readAsDataURL(file);
            document.getElementById('submit').disabled = false;
        } else {
            blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
                + "<br>" + "● ContentTyp: " + file.type
                + "<br>" + "● size: " + file.size + "bytes"
                + "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
            document.getElementById('submit').disabled = true;
        }
    }

    
    </script>


</body>
</html>
