








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>訂單資料 - listOneOrder.html</title>

<head th:insert="~{/protected/front-end/tourOrder/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>訂單資料 - orderDetails.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/tourOrder/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneOrder-div">
    <h3><span>查詢結果 :</span></h3>
    <span>訂單編號:</span><span th:text="${tourOrderVO.orderNo}"></span><br/>
    <span>會員編號:</span><span th:text="${tourOrderVO.memberVO.memNo} + '-[' + ${tourOrderVO.memberVO.memName} + ']'"></span><br/>
    <span>開團編號:</span><span th:text="${tourOrderVO.tourGroupVO.groupNo}"></span><br/>
    <span>訂單日期:</span><span th:text="${tourOrderVO.orderDate}"></span><br/>
    <span>出發日期:</span><span th:text="${tourOrderVO.tourGroupVO.groupBegin}"></span><br/>
    <span>結束日期:</span><span th:text="${tourOrderVO.tourGroupVO.groupEnd}"></span><br/>
    <span>人數:</span><span th:text="${tourOrderVO.orderNums}"></span><br/>
    <span>價錢:</span><span th:text="${tourOrderVO.orderPrice}"></span><br/>
    <span>付款方式:</span>
    <span>
        <span th:switch="${tourOrderVO.orderPay}">
            <span th:case="1">信用卡</span>
            <span th:case="2">轉帳</span>
        </span>
    </span><br/>
    <span>訂單狀態:</span>
    <span>
        <span th:switch="${tourOrderVO.orderStatus}">
            <span th:case="1">已付款</span>
            <span th:case="2">待付款</span>
            <span th:case="3">已取消</span>
        </span>
    </span><br/>
</div>


</body>
</html>