<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>行程詳情資料 - listOneTourDetail.html</title>

<head th:insert="~{/back-end/tourDetail/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>行程詳情個人資料 - listOneTourDetail.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/tourDetail/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneTourDetail-div"> <!-- 此div被select_page.html第158行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>行程編號:</span><span th:text="${tourDetailVO.tourVO.tourNo} + '-[' + ${tourDetailVO.tourVO.tourName} + ']'"></span><br/>
		<span>第幾天:</span><span th:text="${tourDetailVO.detailDay}"></span><br/>
		<span>行程內容:</span><span th:text="${tourDetailVO.detailCon}"></span><br/>
		<span>圖片:</span><span><img th:src="@{/tourDetail/DBGifReader} + '?detailNo=' + ${tourDetailVO.detailNo}" width="100px"></span><br/>
		
		
	</div>


</body>
</html>