<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>商品修改結果</title>

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">

<!-- icon用 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<!-- 從 Google Fonts 引入 "Playfair Display" 字體 -->
<link
	href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap"
	rel="stylesheet">


<!-- Topseeker前台導航列CSS -->
<!-- <link rel="stylesheet" th:href="@{/css/common.css}"> -->

<!-- 商城導航列CSS -->
<link rel="stylesheet" th:href="@{/css/shop_back_end.css}">


<style>


	main.shopManagementContent {
		padding: 30px 50px;
	}


	.backbutton{
	margin-left: auto;
	margin-right: auto;
	
	}
</style>
</head>
<body>


	<!-- topseeker後台Navbar -->
	<nav th:insert="~{/back-end/back_end_navbar.html}"></nav>

	<!-- 商城後台用Navbar -->
	<nav class="shopMainNavbar" th:insert="~{/back-end/shop/shop_back_end_nav.html}"></nav>
	
	<div class="shopContent">	
		
		<!-- 商城後台用左側邊欄 -->
		<aside class="sidebar" th:insert="~{/back-end/shop/shop_back_end_sidebar.html}"></aside>
	
		<main class="shopManagementContent">
			<div class="content">
				<div class="card">
					<div class="card-header text-center">
						<h3><b>修改結果 :</b></h3>
					</div>
					<div class="card-body">
						<div class="row mb-2">
							<div class="col-sm-4 font-weight-bold">商品修改時間:</div>
							<div class="col-sm-8" th:text="${shopProductVO.prodDate}"></div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-4 font-weight-bold">商品狀態:</div>
							<div class="col-sm-8">
								<span th:switch="${shopProductVO.prodStatus}"> <span
									th:case="'0'">下架</span> <span th:case="'1'">上架</span>
								</span>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-4 font-weight-bold">商品類別:</div>
							<div class="col-sm-8">
								<span th:switch="${shopProductVO.shopProductTypeVO.prodTypeNo}">
									<span th:case="'1'">包袋</span> <span th:case="'2'">鞋類</span> <span
									th:case="'3'">裝備配件</span> <span th:case="'4'">服飾</span>
								</span>
							</div>
						</div>
<!-- 						<div class="row mb-2"> -->
<!-- 							<div class="col-sm-4 font-weight-bold">商品編號:</div> -->
<!-- 							<div class="col-sm-8" th:text="${shopProductVO.prodNo}"></div> -->
<!-- 						</div> -->
						<div class="row mb-2">
							<div class="col-sm-4 font-weight-bold">商品名稱:</div>
							<div class="col-sm-8" th:text="${shopProductVO.prodName}"></div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-4 font-weight-bold">定價:</div>
							<div class="col-sm-8" th:text="'$' + ${shopProductVO.prodPrice}"></div>
						</div>
		
						<div class="mb-3">
							<label for="ProdPic" class="form-label">圖片:</label>
							<div id="ProdPic" class="d-flex flex-row flex-wrap">
								<div th:each="pic, iterStat : ${shopProductVO.shopProductPics}"
									class="p-2">
									<img
										th:src="@{/shop/DBGifReader3} + '?prodPicNo=' + ${pic.prodPicNo}"
										class="img-thumbnail mb-2" width="150" height="150">
								</div>
							</div>
						</div>
						<div class="text-center">
							<a th:href="@{/shop/shopManagement/listAllProd}"
								class="btn btn-success backbutton" role="button">繼續修改商品</a>
						</div>
		
					</div>
				</div>
			</div>
		</main>
	
	</div>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Bootstrap JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- 引入 DataTables -->
	<script
		src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>


	<!-- topseeker前台Navbar共用JavaScript -->
	<script src="/js/common.js"></script>

	<!-- topseeker商城用JavaScript -->
	<script src="/js/shop_front_end.js"></script>

</body>
</html>