<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>TopSeeker踏徙客 - 商城管理系統</title>


<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">

<!-- icon用 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<!-- 從 Google Fonts 引入 "Playfair Display" 字體 -->
<link
	href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap"
	rel="stylesheet">


<!-- Topseeker前台導航列CSS -->
<!-- <link rel="stylesheet" th:href="@{/css/common.css}"> -->

<!-- 商城導航列CSS -->
<link rel="stylesheet" th:href="@{/css/shop_back_end.css}">


<style>

</style>

</head>
<body>

	<!-- topseeker後台Navbar -->
	<nav th:insert="~{/back-end/back_end_navbar.html}"></nav>

	<!-- 商城後台用Navbar -->
	<nav class="shopMainNavbar" th:insert="~{/back-end/shop/shop_back_end_nav.html}"></nav>
	
	<div class="shopContent">	
		
		<!-- 商城後台用左側邊欄 -->
		<aside class="sidebar" th:insert="~{/back-end/shop/shop_back_end_sidebar.html}"></aside>
	
		<main class="shopManagementContent">
			<div>
				<p><h1>您好，歡迎進入商城管理系統:</h1></p>			
				<br>
				<p><h2>請選擇左側功能</h2></p>
			</div>
		</main>
	
	</div>


	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Bootstrap JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- 引入 DataTables -->
	<script
		src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>


	<!-- topseeker前台Navbar共用JavaScript -->
	<script src="/js/common.js"></script>

	<!-- topseeker商城用JavaScript -->
	<script src="/js/shop_front_end.js"></script>

</body>
</html>