<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>促銷方案</title>
<head th:insert="~{/back-end/shop/sale/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>
<nav>
	<div align="center">
		<h3><b>TopSeeker</b></h3></br>
		 <h4><b>促銷方案</b></h4>
		<h3><a th:href="@{/shop/sale/select_page}"><img th:src="@{/images/tomcat.gif}" width="100" height="100" border="0">回查詢頁面</a></h3></div>
		<label th:text="${success}"></label>
</nav>
	<div align="center" th:fragment="listOneSale-div"> 
		<h3><span>查詢結果 :</span></h3>
		<span>編號:</span><span th:text="${saleVO.saleNo}"></span><br/>
		<span>名稱:</span><span th:text="${saleVO.saleName}"></span><br/>
		<span>起始日期:</span><span th:text="${saleVO.saleStdate}"></span><br/>
		<span>結束日期:</span><span th:text="${saleVO.saleEddate}"></span><br/>
		<span>金額門檻:</span><span th:text="${saleVO.saleAmount}"></span><br/>
		<span>折扣:</span><span th:text="${saleVO.saleDiscount}"></span><br/>
	</div>

</body>
</html>