<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>會員登入</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<style>
div.container {
margin-top: 90px;
}

body {
background-color:#FAF1E4;
}

</style>
<link rel="stylesheet" th:href="@{/css/common.css}">

</head>
<body>

<nav th:insert="~{/front-end/navbar.html}"></nav>

<div class="container">
    <h1 class="mt-5">忘記密碼</h1>
    <div class="mb-3">
        <input type="text" id="memEmail" name="memEmail" class="form-control">
    </div>
    
    <div>
        <span id="errorMsg"></span>
    </div>

    <button type="button" class="btn btn-success" id="check_email_btn">發送重設密碼信件</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('#check_email_btn').on('click', function() {
            var email = $('#memEmail').val();

            $.ajax({
                type: 'POST',
                url: '/member/checkEmail',
                data: { memEmail: email },
                success: function(response) {
                    if (response.success) {
                        alert('重設密碼信件已發送成功，請於三分鐘內點擊');
                    } else {
                        alert('查無電子信箱');
                    }
                },
            });
        });
    });
</script>

</body>
</html>
