<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>修改密碼</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->

<style>

body {
background-color:#FAF1E4;
}
div.container {
	margin-top: 90px;
}

#form {
	max-width: 600px;
	margin: 0 auto; 
}

#verificationMessage {
	display: none; 
	margin-top: 20px;
}
</style>
<link rel="stylesheet" th:href="@{/css/common.css}">

</head>
<body>
	<nav th:insert="~{/front-end/navbar.html}"></nav>
	<div class="container">
		<h1 class="mt-8" align="center">重設密碼</h1>
		<div id="form">
			<form id="updatePasswordForm" th:action="@{/member/resetPassword}"
				method="post">
				<div class="mb-3">
					<label for="password1" class="form-label">新密碼</label> <input
						type="password" class="form-control" id="password1"
						name="password1">
				</div>
				<div class="mb-3">
					<label for="password2" class="form-label">確認密碼</label> <input
						type="password" class="form-control" id="password2"
						name="password2">
				</div>
				<button type="submit" id="submit_btn" class="btn btn-success">確認修改</button>
			</form>

			<div id="verificationMessage" class="alert alert-danger"></div>

		</div>
	</div>
<div th:insert="~{/front-end/notification/notification.html}"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
	var form = document.getElementById("updatePasswordForm");
	form.addEventListener("submit", function(e) {
		var password1 = document.getElementById("password1").value;
		var password2 = document.getElementById("password2").value;
		var verificationMessage = document
				.getElementById("verificationMessage");

		if (password1 <= 8 || password2 <= 8) {
			e.preventDefault();
			verificationMessage.innerHTML = "密碼長度至少8碼";
			verificationMessage.style.display = "block"; // 显示错误消息框
		} else if (password1 !== password2) {
			e.preventDefault();
			verificationMessage.innerHTML = "兩次密碼輸入不一致";
			verificationMessage.style.display = "block"; // 显示错误消息框

		} else {
			alert("密碼修改成功，請重新登入");
		}
	});
});
</script>

<script src="/js/common.js"></script>
	
</body>
</html>
