








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>參團活動資料 - listOneParticipant.html</title>

<head th:insert="~{/back-end/participant/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>員工個人資料 - listOneParticipant.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/participant/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneParticipant-div"> <!-- 此div被select_page.html第158行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>參團活動編號:</span><span th:text="${participantVO.actPartNo}"></span><br/>
		<span>參團人數:</span><span th:text="${participantVO.actJoinCount}"></span><br/>		
		<span>參團時間:</span><span th:text="${participantVO.actJoinTime}"></span><br/>
		<span>報名狀態:</span><span th:text="${participantVO.actCommit}"></span><br/>
		<span>活動評價星星:</span><span th:text="${participantVO.actStar}"></span><br/>
		<span>活動評價內容:</span><span th:text="${participantVO.actEva}"></span><br/>
		<span>活動編號:</span><span th:text="${participantVO.actVO.actNo} + '-[' + ${participantVO.actVO.actTitle} + ']'"></span><br/>
		<span>會員編號:</span><span th:text="${participantVO.memberVO.memNo} + '-[' + ${participantVO.memberVO.memName} + ']'"></span><br/>
	</div>


</body>
</html>