body {
    background-color: #FAF1E4;
    color: #435334;
    font-family: 'Noto Sans TC', sans-serif;
}
.navbar-custom {
    background-color: #9EB384;
}
.navbar-custom .nav-link {
    color: #FAF1E4 !important;
}
.navbar-custom .nav-link:hover {
    color: #CEDEBD !important;
}
.navbar-custom .navbar-brand img {
    max-width: 75px;
}

.list-group-item {
    background-color: #FAF1E4;
    color: #435334;
}
.list-group-item:hover {
    background-color: #9EB384;
    color: #FAF1E4;
}
.dropdown-menu {
    background-color: #CEDEBD;
}
.dropdown-item {
    color: #435334;
}
.dropdown-item:hover {
    background-color: #9EB384;
    color: #FAF1E4;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
