/* 商城的導航列 */


.shopKanban {
    position: relative;
}


#shopNavbar {
    background-color: rgba(158, 179, 132, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 800;
    bottom: 0; /* 確保與圖片的下緣對齊 */
}


.navbar-brand {
	color: #404040;
	font-size: 32px;
	font-weight: bold;
}

#shopViceNavbar {
	width: 100%;
	margin-left: 20px;}
	


.search-bar {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.search-bar input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-right: 5px;
}

.search-bar button {
    background-color: #435334; /* 自訂按鈕顏色 */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #333924; /* 按鈕顏色變深 */
}

.search-bar button i {
    margin: 0;
    font-size: 16px;
}


.shoplink {
	color: #FFFFFF;
	padding: 5px 5px;
	
}

.shoplink:hover {
	color: #435334;
	padding: 5px 5px;
}

.wishlist {
	color: #404040;
	font-size: 18px;
	font-weight: 500;
	padding: 0 10px;
}

.wishlist:hover {
	color: white;
/* 	font-size: 18px; */
/* 	font-weight: 500; */
/* 	padding: 0 5px; */
}

.shop-item{
	font-size: 20px
	
}

.nav-item-spacing {
 	margin: 0 8px; /*左右間距，可以根據需求調整 */
}

nav ul li a {
    text-decoration: none;
    font-weight: 550;
}

#longlogo {
	margin-top: 75px;
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-top: solid 1px lightgray;
    border-bottom: solid 2px lightgray;
    z-index: 100;
}

/* img#longlogo { */
/* 	margin-top: 75px; */
/* 	height: 175px; */
/* 	width: 100%; */
/* 	object-fit: cover; 保持比例不變形 */
/* 	border-top: solid 1px lightgray; */
/* 	border-bottom: solid 2px lightgray; */
/* 	position: relative; 保持相對定位 */
/* 	z-index: 100; */
/* } */

