/* 商城的導航列 */

/* nav.shopMainNavbar{ */
/* 	height:175px; */
/* } */


.shopKanban {
    position: relative;
}


#shopNavbar {
    background-color: rgba(67, 83, 52, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 800;
    bottom: 0; /* 確保與圖片的下緣對齊 */
}

.navbar-brand {
	color: #DCDDDF;
	font-size: 36px;
	font-weight: bold;
}

#shopViceNavbar {
	font-size: 24px;
	width: 100%;
	margin-left: 50px;
}

.search-bar {
	display: inline-block;
	margin-left: 10px;
}

.search-bar input[type="text"] {
	padding: 5px;
	font-size: 16px;
}

.shoplink {
	color: lightgray;
	font-weight: bold;
}

.shoplink:hover {
	color: white;
}

.wishlist {
	color: #404040;
	font-size: 18px
}

.nav-item-spacing {
	margin: 0 15px; /* 左右間距設為15像素，可以根據需求調整 */
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
}

/* 商城導航列的圖片 */
#longlogo {
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-top: solid 1px lightgray;
    border-bottom: solid 2px lightgray;
    z-index: 100;
}



body, html {
    height: 100%;
    margin: 0;
    background-color: #f8f9fa;
}

/* body { */
/* 	margin: 0; */
/* 	background-color: #f8f9fa; */
/* } */

.shopContent, .knowContent{
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}


/* 商城左側的快速功能列 */
.sidebar {
	width: 220px;
	height: 100vh; /* 確保高度佔滿視窗高度 */
	background-color: #FAF1E4;
	padding: 15px;
	border-right: 2px solid #dee2e6;
	border-bottom: 2px solid #dee2e6;
	position: sticky; /* 固定在視窗 */
	top:0;
 	overflow-y: auto; /*如果內容過多，添加滾動條 */
	z-index: 1;
}

.sidebar .nav-link {
	color: #000;
}

.sidebar .nav-link:hover {
	background-color: #e9ecef;
	border-radius: 5px;
}

p {
	margin-bottom: 0;
}


/*  商城管理介面的主要功能區塊 */
main.shopManagementContent {
	display: flex;
	padding: 30px;
 	width: 100%; /*確保內容佔滿剩餘寬度 */
 	flex-grow: 1;
}


.dataTables_wrapper .dataTables_filter input {
    margin-bottom: 10px;
}

div.shopManagementInput {
	width: 650px;
}


