








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>圖片資料 - listOneArtPic.html</title>

<head th:insert="~{/back-end/artpic/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>圖片資料 - listOneArtPic.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/artpic/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneArtNo-div">
    <h3><span>查詢結果 :</span></h3>
    <span>圖片編號:</span><span th:text="${artpicVO.artPicNo}"></span><br/>
    <span>文章編號:</span>
    <span th:text="${artpicVO.articleVO.artNo} + '-[' + ${artpicVO.articleVO.artTitle} + ']'"></span><br/>
    <span>文章圖片:</span>
    <span>
        <img th:src="@{'/artpic/DBGifReader3?artNo=' + ${artpicVO.articleVO.artNo}}" width="100px">
    </span><br/>
</div>


</body>
</html>