<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Employee</title>
</head>
<body>
    <h1>Edit Employee</h1>
    <form th:action="@{/employee/editEmp}" th:object="${employeeVO}" method="post">
        <input type="hidden" th:field="*{empNo}"/>
        
        <br>
        
        <label for="empName">Name:</label>
        <input type="text" id="empName" th:field="*{empName}" required/>

        <br>

        <label for="empAccount">Account:</label>
        <input type="text" id="empAccount" th:field="*{empAccount}" required/>

        <br>

        <label for="empPassword">Password:</label>
        <input type="password" id="empPassword" th:field="*{empPassword}" required/>

        <br>

        <label for="empHiredate">Hire Date:</label>
        <input type="date" id="empHiredate" th:field="*{empHiredate}" required/>

        <br>

        <label for="empStatus">Status:</label>
        <select id="empStatus" th:field="*{empStatus}">
            <option value="1">在職</option>
            <option value="0">離職</option>
        </select>
                <br>
        
   
        
        
         <label for="authorities">Authorities:</label>
    	<div class="form-group">
                <label for="authNoList">員工權限</label>
                <select multiple id="authNoList" name="authNoList" class="form-control">
                
                    <option th:each="entry : ${authMapData}" th:value="${entry.key}" th:text="${entry.value}"></option>
                </select>
            </div> 
		

        <button type="submit">Save</button>
    </form>
</body>
</html>
