<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>訂單明細顯示</title>
<head th:insert="~{/back-end/shop/order/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>
<nav>
	<div align="center">
		<h3>TopSeeker</h3></br>
		 <h4>訂單明細</h4>
		<h3><a th:href="@{/shop/orderDetail/listAllOrderDetail}"><img th:src="@{/images/tomcat.gif}" width="100" height="100" border="0">回訂單明細總覽</a></h3></div>
</nav>
	<div align="center" th:fragment="listOneOrderDetail-div"> 
		<h3><span>查詢結果 :</span></h3>
		<span>訂單編號:</span><span th:text="${orderDetailVO.orderVO.orderNo}"></span><br/>
		<span>商品編號:</span><span th:text="${orderDetailVO.productVO.prodNo}"></span><br/>
		<span>商品名稱:</span><span th:text="${orderDetailVO.productVO.prodName}"></span><br/>
		<span>銷售單價:</span><span th:text="${orderDetailVO.orderPrice}"></span><br/>
		<span>商品銷量:</span><span th:text="${orderDetailVO.orderQty}"></span><br/>
		
		<form method="post" th:action="@{/shop/orderDetail/getOne_For_Update}" style="margin-bottom: 0px;">
			 <input type="submit" value="修改">
			 <input type="hidden" name="orderNo" th:value="${orderDetailVO.compositeDetail.orderNo}">
			 <input type="hidden" name="prodNo" th:value="${orderDetailVO.compositeDetail.prodNo}">
			 </form>
	</div>

</body>
</html>