<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>訂單詳情</title>

<!-- ●●js  for jquery datatables 用 -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!-- ●●css for jquery datatables 用 -->

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">

<!-- icon用 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<!-- 從 Google Fonts 引入 "Playfair Display" 字體 -->
<link
	href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap"
	rel="stylesheet">


<!-- Topseeker後台導航列CSS -->
<link rel="stylesheet" th:href="@{/css/back_end.css}">
<!-- 商城導航列CSS -->
<link rel="stylesheet" th:href="@{/css/shop_back_end.css}">

<style type="text/css">
	main.shopManagementContent {
		padding: 50px 50px;
	}
	
/* ========main區======	 */
	div.container{
		display: flex;
		flex-wrap: nowrap;
		position: relative;
/* 		padding: 20px; */
		justify-content: space-evenly;
	}
	div.left{
		position: relative;
		width: 60%;
		overflow-wrap:break-word;
		border: 5px solid rgb(161, 221, 112);
		border-radius: 20px;
		padding:5px;
	}
	div.right{
		position: relative;
		width: 60%;
	}

    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
		padding: 5px;
	}
	
	h3{
		text-align: center
	}
	
	table{
		position: relative;
		padding:5px;
		left: 20px;
	}
	
	
	th,
	thead{
		text-align: center;
		font-size: 18px;
	}
 
 	tbody,
 	td {
 		text-align: center;
 		font-size: 16px;
 		padding-top: 15px; 
	 } 
	
</style>
</head>
<body>
	<!-- topseeker後台Navbar -->
	<nav th:insert="~{/back-end/back_end_navbar.html}"></nav>

	<!-- 商城後台用Navbar + 左側邊欄 -->
	<nav class="shopMainNavbar" th:insert="~{/back-end/shop/shop_back_end_nav.html}"></nav>
	<div class="shopContent">
		<aside class="sidebar" th:insert="~{/back-end/shop/shop_back_end_sidebar.html}"></aside>
		<main class="shopManagementContent content" align="center"> 
			<div class="container">
				<div class="left">
					<span>訂單編號	:</span><span th:text="${orderVO.orderNo}"></span><br/>
					<span>會員編號	:</span><span th:text="${orderVO.memberVO.memNo}"></span><br/>
					<span>會員姓名	:</span><span th:text="${orderVO.memberVO.memName}"></span><br/>
					<span>促銷活動名稱	:</span><span th:text="${orderVO.saleVO.saleName}"></span><br/>
					<span>訂單日期	:</span><span th:text="${orderVO.orderDate}"></span><br/>
					<span>訂單原始金額	:</span><span th:text="${orderVO.orderAmount}"></span><br/>
					<span>訂單運費	:</span><span th:text="${orderVO.orderShipment}"></span><br/>
					<span>折扣金額	:</span><span th:text="${orderVO.orderDiscount}"></span><br/>
					<span>訂單實付金額	:</span><span th:text="${orderVO.orderBill}"></span><br/>
					<span>收件人姓名	:</span><span th:text="${orderVO.orderName}"></span><br/>
					<span>收件人電話	:</span><span th:text="${orderVO.orderPhone}"></span><br/>
					<span>收件人住址	:</span><span th:text="${orderVO.orderAddress}"></span><br/>
					<span>訂單狀態	:</span><span class="orderStatus" th:text="${orderVO.orderStatus}"></span><br/>
					<span>付款狀態	:</span><span class="paymentStatus" th:text="${orderVO.paymentStatus}"></span><br/>
					<span>付款方式	:</span><span class="paymentMethod" th:text="${orderVO.paymentMethod}"></span><br/>
					<span>運送方式	:</span><span class="deliveryMethod" th:text="${orderVO.deliveryMethod}"></span><br/>
					<span>訂單備註	:</span><span th:text="${orderVO.remarks}"></span><br/>
				</div>
				<div class="right">
					<!-- 	顯示 OrderDetailVO 資料 -->
			        <table id="orderDetailData" class="display" style="width: 80%">
			            <thead>
			                <tr>
			                    <th>購買項目</th>
			                    <th>商品單價</th>
			                    <th>購買數量</th>
			                </tr>
			            </thead>
			            <tbody>
			                <th:block th:each="details : ${orderDetailData}">
			                <tr>
			                    <td th:text="${details.shopProductVO.prodName}"></td>
			                    <td th:text="${details.orderPrice}" style="width: 30%"></td>
			                    <td th:text="${details.orderQty}" style="width: 30%"></td>
			                </tr>
			                </th:block>
			             </tbody>
			          </table>
					<button onclick="goBack()" class="btn btn-success">回訂單列表</button>		
					</div>
			
				</div>
		</main> 
	</div>
	
	<script>
	
		function goBack() {
	    	window.history.back();
		}
	
	
		var orderStatusElements = document.querySelectorAll(".orderStatus");
		orderStatusElements.forEach(function (e) {
            var orderStatus = e.textContent.trim();
            
            switch(orderStatus){
            	case '0':
            		e.textContent ='訂單成立';
            		break;
            	case '1':
            		e.textContent ='出貨中';
            		break;
            	case '2':
            		e.textContent ='已出貨';
            		break;
            	case '3':
            		e.textContent ='已收貨';
            		break;
            	case '4':
            		e.textContent ='訂單取消';
            		break;
            	case '5':
            		e.textContent ='一般結案';
            		break;
            	case '6':
            		e.textContent ='鑑賞期內退貨結案';
            		break;
            	case '7':
            		e.textContent ='瑕疵品退貨結案';
            		break;
            		
            	}
            
        });
		
		var paymentStatusElements = document.querySelectorAll(".paymentStatus");
		paymentStatusElements.forEach(function (e) {
            var paymentStatus = e.textContent.trim();
            
            switch(paymentStatus){
            	case '0':
            		e.textContent ='待繳費';
            		break;
            	case '1':
            		e.textContent ='已繳費';
            		break;
            		
            	}
            
        });
		
		var paymentMethodElements = document.querySelectorAll(".paymentMethod");
		paymentMethodElements.forEach(function (e) {
            var paymentMethod = e.textContent.trim();
            
            switch(paymentMethod){
            	case '0':
            		e.textContent ='信用卡';
            		break;
            	case '1':
            		e.textContent ='轉帳';
            		break;
            	case '2':
            		e.textContent ='貨到付款';
            		break;
            	
            	}
            
        });
		
		var deliveryMethodElements = document.querySelectorAll(".deliveryMethod");
		deliveryMethodElements.forEach(function (e) {
            var deliveryMethod = e.textContent.trim();
            
            switch(deliveryMethod){
            	case '0':
            		e.textContent ='宅配';
            		break;
            	case '1':
            		e.textContent ='超商取貨';
            		break;
            	}
            
        });
		
	
	
	</script>

</body>
</html>