<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>更新訂單</title>
<head th:insert="~{/back-end/shop/order/included-fragment}"></head>

<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 500px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>

</head>
<body>

<nav>
	<div align="center">
		<h3><b>TopSeeker</b></h3></br>
		 <h4><b>訂單資訊修改</b></h4>
		<h3><a th:href="@{/shop/order/listAllOrder}"><img th:src="@{/images/tomcat.gif}" width="100" height="100" border="0">回訂單總覽</a></h3>
	</div>
</nav>

<div align="center">
<form method="post" th:action="@{/shop/order/update}" th:object="${orderVO}">
	
	<div>
		<label>商品訂單編號 :</label>
		<input type="text" th:field="*{orderNo}" style="border:0px ; font-weight: bold;" readonly /><br/>
	</div>
	<div>
		<label>會員編號 :</label>
		<input type="text" th:field="*{memberVO.memNo}" style="border:0px ; font-weight: bold;" readonly /><br/>
	</div>
	<div>
		<label>會員姓名 :</label>
		<input type="text" th:field="*{memberVO.memName}" style="border:0px ; font-weight: bold;" readonly /><br/>
	</div>
	<div>
		<label>促銷活動編號 :</label>
		<input type="text" th:field="*{saleVO.saleNo}" style="border:0px ; font-weight: bold;" readonly /><br/>
	</div>
	<div>
		<label>促銷活動名稱 :</label>
		<input type="text" th:field="*{saleVO.saleName}" style="border:0px ; font-weight: bold;" readonly /><br/>
	</div>
	
	<div>
		<label>訂單日期 :</label>
		<input type="text" th:field="*{orderDate}" style="border:0px ; font-weight: bold;" readonly /><br/>
	</div>
	
	<div>
		<label>訂單原始金額 :</label>
		<input type="text" th:field="*{orderAmount}" style="border:0px ; font-weight: bold;" readonly /><br/>
	</div>
	<div>
		<label>訂單運費 :</label>
		<input type="text" th:field="*{orderShipment}" onclick="hideContent('orderShipment.errors')" /><br/>
 		<span th:if="${#fields.hasErrors('orderShipment')}" th:errors="*{orderShipment}" class="error" id="orderShipment.errors"></span>
	</div>
	<div>
		<label>折扣金額 :</label>
		<input type="text" th:field="*{orderDiscount}" onclick="hideContent('orderDiscount.errors')" /><br/>
 		<span th:if="${#fields.hasErrors('orderDiscount')}" th:errors="*{orderDiscount}" class="error" id="orderDiscount.errors"></span>
	</div>
	<div>
		<label>訂單實付金額 :</label>
		<input type="text" th:field="*{orderBill}" onclick="hideContent('orderBill.errors')" /><br/>
 		<span th:if="${#fields.hasErrors('orderBill')}" th:errors="*{orderBill}" class="error" id="orderBill.errors"></span>
	</div>
	<div>
		<label>收件人姓名 :</label>
		<input type="text" th:field="*{orderName}" onclick="hideContent('orderName.errors')" /><br/>
 		<span th:if="${#fields.hasErrors('orderName')}" th:errors="*{orderName}" class="error" id="orderName.errors"></span>
	</div>
	<div>
		<label>收件人電話 :</label>
		<input type="text" th:field="*{orderPhone}" onclick="hideContent('orderPhone.errors')" /><br/>
 		<span th:if="${#fields.hasErrors('orderPhone')}" th:errors="*{orderPhone}" class="error" id="orderPhone.errors"></span>
	</div>
	<div>
		<label>收件人住址 :</label>
		<input type="text" th:field="*{orderAddress}" onclick="hideContent('orderAddress.errors')" /><br/>
 		<span th:if="${#fields.hasErrors('orderAddress')}" th:errors="*{orderAddress}" class="error" id="orderAddress.errors"></span>
	</div>
	<div>
		<label>訂單狀態 :</label>
		<select th:field="*{orderStatus}">
			<option th:value="0" th:text="訂單成立">
			<option th:value="1" th:text="出貨中">
			<option th:value="2" th:text="已出貨">
			<option th:value="3" th:text="已收貨">
			<option th:value="4" th:text="訂單取消">
			<option th:value="5" th:text="一般結案">
			<option th:value="6" th:text="鑑賞期內退貨結案">
			<option th:value="7" th:text="瑕疵品退貨結案">
		</select>
	</div>
	<div>
		<label>付款狀態 :</label>
		<select th:field="*{paymentStatus}">
			<option th:value="0" th:text="待繳費">
			<option th:value="1" th:text="已繳費">
		</select>
	</div>
	<div>
		<label>付款方式 :</label>
		<select th:field="*{paymentMethod}">
			<option th:value="0" th:text="信用卡">
			<option th:value="1" th:text="轉帳">
			<option th:value="2" th:text="貨到付款">
		</select>
	</div>
	<div>
		<label>運送方式 :</label>
		<select th:field="*{deliveryMethod}">
			<option th:value="0" th:text="宅配">
			<option th:value="1" th:text="超商取貨">
		</select>
	</div>
	<div>	
		<label>訂單備註 :</label>
		<input type="text" th:field="*{remarks}" style="border:0px ; font-weight: bold;" readonly /><br/>
 		</div>
	
	<div><button type="submit" id="submit"> 送出修改 </button></div>
	
</form>

</div>



<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}


</script>
</body>
</html>