<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>首頁</title>
<link rel="stylesheet" th:href="@{/css/index.css}">

<link rel="stylesheet" th:href="@{/css/common.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
        .navbar {
		    position: fixed;
		    top: 0;
		    width: 100%;
		    z-index: 1000;
		}
</style>
</head>
<body>

    <div class="video-background">
        <video autoplay muted loop id="video1">
            <source src="/images/mountainmedia.mp4" type="video/mp4">
        </video>
        <video autoplay muted loop id="video2" style="display: none;">
            <source src="/images/mountainmedia.mp4" type="video/mp4">
        </video>
        <video autoplay muted loop id="video3" style="display: none;">
            <source src="/images/mountainmedia.mp4" type="video/mp4">
        </video>
    </div>
    
    <div class="container2">
    <h1 class="indexh1">關於我們</h1>
    <pre>
國內的登山健行活動在近幾年漸漸愈受歡迎，然而新手初次接觸卻可能不知道從何下手。
可以去哪座山或步道? 該準備什麼裝備? 去哪能找到同伴?
為了解決以上問題，於是誕生了此網站的發想。
本站是一個提供登山愛好者們揪團、套裝行程安排與登山用品購物的複合式平台，
無論新手、老手都能在此找到適合你的行程、裝備、一起結伴的山友們。
    </pre></div>

<nav th:insert="~{/front-end/navbar.html}"></nav>

<div class="container2">
<h1 class="indexh1" style="margin-bottom:30px;">歡迎來到Topseeker</h1>
<p th:if="${session.loggedInMember != null}">
    您好，
    <span th:text="${session.loggedInMember.memName}"></span>
    ！
</p>
</div>
<div th:insert="~{/front-end/notification/notification.html}"></div>
<div class="navigation-footer">
			<div class="flex-column-bbd">
				<div class="divider"></div>
				<span class="phone">電話:3345678</span><span class="contact-address">聯絡地址:320桃園市中壢區復興路46號8樓</span>
			</div>


			<div class="flex-column-e">
				<span class="site-name">Site name</span>
				<div class="social-icons">
					<div class="buttons-icon">
						<div class="icon">
							<div class="icon-11"></div>
						</div>
					</div>
					<div class="buttons-icon-12">
						<div class="icon-13">
							<div class="icon-14"></div>
						</div>
					</div>
					<div class="buttons-icon-15">
						<div class="icon-16">
							<div class="icon-17"></div>
						</div>
					</div>
					<div class="buttons-icon-18">
						<div class="icon-19">
							<div class="icon-1a"></div>
						</div>
					</div>


				</div>
			</div>


		</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="/js/common.js"></script>
<script th:inline="javascript">
		var baseUrl = /*[[@{/}]]*/'/';

		function redirectTo(url) {
			window.location.href = url;
		}
	</script>
</body>
</html>
